
@{
    ViewBag.Title = "Danh Muc Hang Hoa";
}

<!-- Form để tìm kiếm -->
<div class="container-fluid">
    <form id="formSearchInput">
        <div class="row">
            <div class="col-md-6">
                @Html.DropDownList("category", SelectListHelper.Categories(),"--Danh Sach Loai--", new {@class="form-control" })
            </div>
            <div class="col-md-6">
                @Html.DropDownList("supplier", SelectListHelper.Suppliers(), "--Danh Sach Nhà Cung Cấp--", new { @class = "form-control" })
            </div>
        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-md-12 ">
                <div class="input-group">
                    <input name="searchValue" type="text" class="form-control" placeholder="Nhập tên cần tìm..." value="">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <i class="glyphicon glyphicon-search"></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Hiển thị kết quả tìm kiếm -->
<div id="listProducts" class="container-fluid"></div>

@section scripts {
    <script>
        function getProducts(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({name: "page", value: page });
            $.ajax({
                url: "/Product/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listProducts").empty();
                    $("#listProducts").html(data);
                }
            });
        }

        $(document).ready(function () {
            getProducts(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getProducts(1);
            });
        });
    </script>
}