
<link rel="stylesheet" href="~/Themes/mystyles/CSS/StyleSheet1.css">

@{
    ViewBag.Title = "Thông Tin Nhân Viên";
}

<div class="form-horizontal">
    <div class="form-group col-lg-3 ">
        <img class="img image-clean" width="189" height="165" src="~/Themes/mystyles/image/Hell1o.jpg" />
    </div>

    <div class="form-group col-lg-9">
        <label class="col-sm-2 control-label">Tên: </label>
        <div class="col-sm-10">
            <p class="form-control-static">Peacock</p>
        </div>

        <label class="col-sm-2 control-label">Họ: </label>
        <div class="col-sm-10">
            <p class="form-control-static">Margaret</p>
        </div>
        <label class="col-sm-2 control-label">Ngày Sinh: </label>
        <div class="col-sm-10">
            <p class="form-control-static">1958-09-19</p>
        </div>
        <label class="col-sm-2 control-label">Email: </label>
        <div class="col-sm-10">
            <p class="form-control-static">margaret.peacock@liteshop.com</p>
        </div>
        <label class="col-sm-2 control-label">Notes: </label>
        <div class="col-sm-10">
            <p class="form-control-static">Steven Buchanan graduated from St. Andrews University, Scotland, with a BSC degree. Upon joining the company as a sales representative, he spent 6 months in an orientation program at the Seattle office and then returned to his permanent post in London, where he was promoted to sales manager. Mr. Buchanan has completed the courses 'Successful Telemarketing' and 'International Sales Management'. He is fluent in French.</p>
        </div>
    </div>



    <div class="row">
        <div class="col-lg-10 col-lg-offset-2 col-sm-10">
            <a href="~/Employees/Edit/12" class="btn btn-danger">
                Chỉnh Sửa
            </a>
            <a href="~/Employees/Delete/12" class="btn btn-info">
                Xóa
            </a>
        </div>
    </div>

</div>

