
@{

}
<form method="post" action="~/Employees/Save">

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Tên:</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" autofocus>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label>Họ:</label>
                <input type="text" class="form-control" id="LastName" name="LastName" autofocus>
            </div>
        </div>

    </div>


    <div class="form-group">
        <label>Ngày Sinh:</label>
        <input type="date" class="form-control" id="Birthday" name="Birthday" autofocus>
    </div>

    <div class="form-group">
        <label>Email:</label>
        <input type="email" class="form-control" id="SuppliersEmail" name="SuppliersEmail">
    </div>

    <div class="form-group">
        <label>Mật Khẩu:</label>
        <input type="password" class="form-control" id="Password" name="Password">
    </div>

    <div class="form-group">
        <label>Xác Nhận Mật Khẩu:</label>
        <input type="password" class="form-control" id="Password" name="Password">
    </div>

    <div class="form-group">
        <label>Thêm Ảnh:</label>
        <input type="file" class="form-control" id="Image" name="Image">
    </div>

    <div class="form-group">
        <label>Chú Thích:</label>
        <textarea type="file" class="form-control" id="Image" name="Image" rows="5">Notes</textarea>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <button type="submit" class="btn btn-info">
                <i class="fa fa-save"></i>
                Lưu dữ liệu
            </button>
        </div>

        <div class="col-lg-6 text-right">
            <button class="btn btn-adn">
                <a href="~/Employees/Index" style="color:#ffffff">
                    <i class="fa fa-backward"></i> Hủy
                </a>
            </button>
        </div>

    </div>

</form>



