@model LiteCommerce.Admin.Models.EmployeePaginationQueryResult

@{
    ViewBag.Title = "Danh Sách Nhân Viên";
    int i = 0;
}



@*form để tìm kiêm*@
<div class="box box-default">
    <div class="box-body">
        <form id="formSearchInput">
            <div class="input-group">
                <input type="text" class="form-control" name="searchValue" placeholder="Nhập tên cần tìm kiếm...">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Hiển thị kết quả tìm kiếm -->
<div id="listEmployees" class="container-fluid"></div>



@section scripts {
    <script>
        function getEmployees(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Employees/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listEmployees").empty();
                    $("#listEmployees").html(data);
                }
            });
        }

        $(document).ready(function () {
            getEmployees(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getEmployees(1);
            });
        });
    </script>
}


