
@{
    ViewBag.Title = "Categories";
   
    
}

<div class="box box-default">
    <div class="box-body">
        <form action="~/Categories" method="get" id="formSearchInput">
            <div class="input-group input-group-sm">
                <input type="text" name="searchValue" class="form-control" >
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>

<div class="container-fluid" id="listCategories">
    /div>


    @section scripts {

        <script>
            function getCategories(page) {
                var searchCondition = $("#formSearchInput").serializeArray();
                searchCondition.push({ name: "page", value: page });
                $.ajax({
                    url: "/Categories/List",
                    type: "POST",
                    data: searchCondition,
                    success: function (data) {
                        $("#listCategories").empty();
                        $("#listCategories").html(data);
                    }
                });
            }

            $(document).ready(function () {
                getCategories(1);
                $("#formSearchInput").submit(function (e) {
                    e.preventDefault();
                    getCategories(1);
                });
            });
        </script>

    }
