<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="~/">
                    <i class="fa fa-home"></i> <span>Trang Chu</span>
                </a>
            </li>

            <li class="treeview">
                <a href="~/Categories">
                    <i class="fa fa-book"></i> <span>Quản Lý Mặt Hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="~/Categories"><i class="fa fa-user"></i> Loại Hàng </a></li>
                    <li class="active"><a href="~/Customer"><i class="fa fa-user"></i> Khách Hàng</a></li>
                    <li class="active"><a href="~/Suppliers"><i class="fa fa-user"></i> Nhà Cung Cấp</a></li>
                    <li class="active"><a href="~/Employees"><i class="fa fa-user"></i> Nhân Viên</a></li>
                    <li class="active"><a href="~/Shipper"><i class="fa fa-user"></i> Shipper</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-money"></i>
                    <span>Quản Lý Đơn Hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="~/Order"><i class="fa fa-user"></i> Đơn Đặt Hàng</a></li>
                    
                    <li class="active"><a href="~/Product"><i class="fa fa-user"></i> Mặt Hàng</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-area-chart"></i> <span>Thống Kê</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href=""><i class="fa fa-circle-o"></i> Thống Kê Đơn Hàng</a></li>
                    <li><a href=""><i class="fa fa-circle-o"></i> Thống Kê Mặt Hàng</a></li>
                </ul>
            </li>




            <li>
                <a href="#">
                    <i class="fa fa-calendar"></i> <span>Calendar</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-blue">17</small>
                    </span>
                </a>
            </li>
           
            
        
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>