


@{
    ViewBag.Title = "Khach Hang"; int stt = 0;
}


@*form để tìm kiêm *@
<div class="box box-default">
    <div class="box-body">
        <form id="formSearchInput">
            <div class="input-group input-group-sm">
                <input type="text" name="searchValue" class="form-control" placeholder="Nhập Thông Tin Cần Tìm Kiếm">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>


<div class="container-fluid" id="listCustomers"></div>

@section scripts{
    <script>
        function getCustomers(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Customer/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listCustomers").empty();
                    $("#listCustomers").html(data);
                }
            });
        }
        $(document).ready(function () {
            getCustomers(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getCustomers(1);
            });
        });
    </script>

}