@{
    ViewBag.Title = "Nha Cung Cap";
}


@*form để tìm kiêm*@
<div class="box box-default">

    <div class="box-body">
        <form action="~/Suppliers" method="get" id="formSearchInput">
            <div class="input-group input-group-sm">
                <input type="text" name="searchValue" class="form-control" placeholder="Nhập Thông Tin Cần Tìm Kiếm">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>

</div>

<!-- Hiển thị kết quả tìm kiếm -->
<div id="listSuppliers" class="container-fluid"></div>


@section scripts{
    <script>
        function getSuppliers(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Suppliers/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listSuppliers").empty();
                    $("#listSuppliers").html(data);
                }
            });
        }
            $(document).ready(function () {
                getSuppliers(1);
                $("#formSearchInput").submit(function (e) {
                    e.preventDefault();
                    getSuppliers(1);
                });
            });
    </script>

}



