
@{
    ViewBag.Title = "Shippers";
}

<div class="box box-default">
    <div class="box-body">
        <form action="~/Shipper" method="get" id="formSearchInput">
            <div class="input-group input-group-sm">
                <input type="text" name="searchValue" class="form-control">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>


<!-- Hiển thị kết quả tìm kiếm -->
<div id="listProducts" class="container-fluid"></div>


@section scripts{
    <script>
        function getShippers(page) {
            var searchCondition = $("#formSearchInput").serializeArray();
            searchCondition.push({ name: "page", value: page });
            $.ajax({
                url: "/Shipper/List",
                type: "POST",
                data: searchCondition,
                success: function (data) {
                    $("#listProducts").empty();
                    $("#listProducts").html(data);
                }
            });
        }

        $(document).ready(function () {
            getShippers(1);
            $("#formSearchInput").submit(function (e) {
                e.preventDefault();
                getShippers(1);
            });
        });
    </script>

    </script>
}